@import '../../global.scss';

.landing__page{
  
    height: 100vh;
    background-color: $offWhite;
    .wrapper__landing__page{
       
        img {
            height: 500px;
        }

    }

   


}