@import '../../global.scss';

.container-user-login{
  
   /*  height: 100vh; */
    display:flex;
    align-items: center;
    justify-content: center;
   
    background-image: url('../../images/honey__opacity.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

  
    .user-card{
        display:flex;
        margin: 0 auto;
        padding: 20px 0;
       /*  position: relative; */
        width: 960px;
        height: 456px;
      
        @include mobile{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
       
            width: 100%;
            padding: 0 auto;
           
        }

              
        @include ipad{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0px;

           
        }

        .logo-container{
            flex: .5;
            display:flex;
            flex-direction: column;
            padding: 20px;
            @include mobile{
                
          
                display:flex;
                align-items: center;
                height: 100%;
                width: 100%;
                padding: 0 auto;
               
               
               
            }

            @include ipad{
                display:flex;
                align-items: center;
                
                padding: 0 auto;
               height: 300px;
               width: 100%;
            }

            
            
            .logo{

                background-color: white;

                height: 70%;
                display:flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    height: 100%;
                  
                    
                    
                }
               
                @include ipad{
                    height: 100%;
                    
                    
                }


                img{
                    object-fit: cover;
                    height: 100%;
                    @include mobile{
                        height: 100%;
                        width: 90%;
                      
                     
                        
                    }
                    @include ipad{
                        height: 100%;
                      
                        
                    }
                }
            }

            .call-to-action{
                height: 30%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include mobile{
                    display:none;
                  
                }
                @include ipad{
                    display:none;
                }
                button {
                    background-color: green;
                    color: $offWhite;
                    border: none;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 30px;
                    padding: 0 16px;
                    width: 150px;
                    margin: 10px;
                }
            }
      
        }

        .user-info{
            flex: .5;
            padding:20px;
            
            @include mobile{
                padding: 0 auto;
               
                width: 100%;
            
                
                
                
            }
            @include ipad{
                padding: 0 auto;
                width: 100%;
                background-color: transparent;
                
            
            }

            .acc-container{
                background-color: #FAE7BF;
                display:flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                @include mobile{
                    padding: 10px;
                    height: 100%;
                    width: 100%;
                    background-color: transparent;
                  
                }
                @include ipad{
                    padding: 10px;
                    background-color: transparent;
              
                    
                }

                form{
                 
                    
                    border-radius: 10px;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                 /*    flex-grow: inherit; */
                    gap: 10px;

                    @include mobile{
                        gap: 5px;
                    width: 100%;
                      
                    }

                    @include ipad{
                        display:flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        height: 70%;
                          
                    }
    
                    input{
                        border: .9px solid darkgray;
                        outline: none;
                        width: 330px;
                        padding: 14px 16px;
                        font-size: 17px;
                        border-radius: 10px;
                        @include mobile{
                            width: 100%;
                            font-size: 1rem;
                           
                          
                        }

                        @include ipad{

                            width: 60%;
                              
                        }

                  
                    }
                    button {
                        background-color: $buttonColor;
                        color: $offWhite;
                        border: none;
                        border-radius: 6px;
                        font-size: 20px;
                       
                        padding: 14px 16px;
                        width: 330px;

                        @include mobile{
                          /*   width: 200px; */
                          width: 70%;
                          margin: 5px;
                          
                        }

                    }
    
                    .hr__width{
                        display:flex;
                        justify-content: center;
                        margin: 10px 50px 0px 50px;
                    }
    
                }
                button {
                    background-color: green;
                    color: $offWhite;
                    border: none;
                    border-radius: 6px;
                    font-size: 14px;
                    line-height: 16px;
                    padding: 5px 16px;
                    width: 150px;
                    /* margin: 10px; */

                    @include mobile {
                        width: 160px;
                        padding: 5px 10px;
                    }

                    @include ipad {
                        width: 160px;
                        padding: 5px 10px;
                        
                    
                    }
                }


                @include ipad {
                    .create__acc{
                        transform: translateY(-140px);
                    }
                
                }

               

            }
            
        }
    }
    
}