@import "../../global.scss";

.store__container {
  /* background: rgb(233,212,193);
    background: -moz-linear-gradient(274deg, rgba(233,212,193,1) 0%, rgba(255,255,255,1) 48%, rgba(233,212,193,1) 100%);
    background: -webkit-linear-gradient(274deg, rgba(233,212,193,1) 0%, rgba(255,255,255,1) 48%, rgba(233,212,193,1) 100%);
    background: linear-gradient(274deg, rgba(233,212,193,1) 0%, rgba(255,255,255,1) 48%, rgba(233,212,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9d4c1",endColorstr="#e9d4c1",GradientType=1); */
  
  display: flex;
 /*  flex-direction: column; */
 
  overflow-y: scroll;
  background-image: url("../../images/honey__opacity.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;

  @include mobile {
    background-position: 90% 70%;
  }

  .store__wrapper__bottom {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    .store__wrapper__top {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.7;
      }

      h1 {
        margin: 20px;

        left: 0;
        text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
          10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
        font-family: "Lemonada", cursive;
        font-weight: 600;
        font-size: 4rem;

        @include mobile {
          font-size: 2rem;
        }
      }
    }
  }
}
