@import "../../global.scss";

.container__user__profile {
  background-color: darkgrey;
  display: flex;
  background-image: url("../../images/honey__opacity.png");
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  @include ipad {
    background-size: cover;
  }


  .edit__profile__container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  .user__profile__page {
    flex: 0.25;

    background-color: #fae7bf;
    display: flex;
    flex-direction: column;
    position: relative;

    

    .pPicture__header__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-image: url("../../images/bee__background.png");
      background-position: 20% 80%;
      background-repeat: no-repeat;
      background-size: cover;

      width: 100%;
      padding: 10px;

      .pPicture {
        border: 1px solid white;
        background-color: $offYellow;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        overflow: hidden;
        img {
          height: 100px;
        }
      }
    }

    .uProfile__name {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .user__profile__info {
      height: 100%;
      display: flex;
      flex-direction: column;
      @include mobile {
        display: none;
      }

      .acc__personal__details {
        height: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button {
          align-self: center;

          background-color: $buttonColor;
          color: $offWhite;
          border: none;
          outline: none;
          font-family: "Roboto", sans-serif;
          border-radius: 6px;
          font-size: 1rem;
          font-weight: 600;
          padding: 10px 5px;
          width: 250px;
          margin: 10px;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }
      }
    }
  }

  /* USER RECIPES */

  .user__recipes__page {
    flex: 0.5;

    padding: 20px;
    overflow-y: scroll;

    @include ipad {
      flex: 1;
    }

    .edit__recipe {
      display: none;
      height: 400px;
      width: 50%;
      margin: 10px;
      padding: 10px;
      background-color: whitesmoke;
      position: absolute;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

      @include mobile {
        width: 90%;
        margin: 0 auto;
        padding: 0 auto;
        height: 60%;
      }

      @include ipad {
        width: 60%;
        margin: 0 auto;
        padding: 0 auto;
        height: 60%;
      }

      &.edit__open {
        display: flex;

        @include mobile {
          overflow-y: scroll;
        }
        @include ipad {
          overflow-y: scroll;
        }
      }

      .edit__card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        z-index: 99999;

        .close__card {
          position: absolute;
          align-self: flex-end;

          cursor: pointer;
          padding: 5px;
          font-size: 2rem;
          font-weight: 200;
          color: $buttonColor;

          @include mobile {
            font-size: 1rem;
          }

          &:active,
          &:hover {
            color: burlywood;
            border-radius: 100%;
            transition: all 400ms ease;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          height: 100%;
          @include mobile {
            height: 100%;

            overflow-x: hidden;
          }

          .form__wrapper {
            display: flex;

            flex: 1;
            @include mobile {
              display: flex;
              flex-direction: column;
            }
            @include ipad {
              display: flex;
              flex-direction: column;
            }

            .title__ing__div {
              padding: 5px;
              display: flex;
              flex-direction: column;
              justify-content: center;

              height: 100%;
            }
            .instructions__div {
              padding: 5px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 100%;
            }
          }
          .btn__save__cancel {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .submit__btn {
              background-color: transparent;
              color: $buttonColor;
              border: 1px solid $buttonColor;
              @include ipad {
                width: 30%;
                
              }

              &:active,
              &:hover {
                background-color: $buttonColor;
                color: $offWhite;
                transition: all 400ms ease;
              }
            }
            button {
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              text-align: center;
              background-color: $buttonColor;
              color: $offWhite;
              border: none;
              outline: none;
              font-family: "Roboto", sans-serif;
              border-radius: 6px;
              font-size: 1.4rem;
              margin: 10px;
              width: 15%;
              padding: 5px;
              box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
              cursor: pointer;

              @include mobile {
                width: 100%;
                font-size: 1rem;
              }

              @include ipad {
               
                width: 30%;
                
              }

          
            }
          }

          input {
            border: 0.9px solid darkgray;
            outline: none;
            width: 330px;
            padding: 14px 16px;
            font-size: 17px;
            border-radius: 10px;
            @include mobile {
              width: 100%;
            }
          }

          .image__input {
            border: 0;
            /*  padding-bottom: 50px; */
          }

          textarea {
            border: 0.9px solid darkgray;
            outline: none;
            width: 100%;
            padding: 14px 16px;
            font-size: 17px;
            border-radius: 10px;
            height: 200px;
            white-space: pre-line;
          }
        }
      }
    }

    @include mobile {
      flex: 1;
    }

    .top__recipe__container {
      h2 {
        text-align: center;
        font-family: "Lemonada", cursive;
        font-weight: 400;
        font-size: 5vh;
      }
      .recipes__img__container {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
        }
      }

      .recipes__top__extra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;

        button {
          background-color: green;
          color: $offWhite;
          border: none;
          outline: none;
          font-family: "Roboto", sans-serif;
          border-radius: 6px;
          font-size: 1rem;
          font-weight: 600;
          padding: 10px 5px;
          width: 250px;
          margin: 10px;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          cursor: pointer;

          @include mobile {
            width: 20%;
            span {
              display: none;
            }
          }
        }
      }
    }

    .recipes__owned__wrapper {
      background-color: rgba(245, 245, 245, 0.242);
      overflow-y: scroll;
      height: 60%;
      padding: 5px;
      border-radius: 10px;

      @include ipad {
        height: 70%;
      }

      .recipe__owned {
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include ipad {
            .btn__options{
              display:flex;
             
            }    
        }

        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        }

        button {
          margin: 10px;
          padding: 10px;
          border: 0px;
          background-color: $buttonColor;
          color: white;
          border-radius: 10px;
        }
      }
    }
  }

  .user__store__page {
    padding: 20px;
    flex: 0.25;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: red;
    border-left: 1px solid black;

    @include mobile {
      display: none;
    }

    @include ipad {
      display: none;
    }


    .carousel__container {
      background-color: rgba(255, 255, 255, 0.018);
      display: flex;

      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      
      
      overflow-x: hidden;
      object-fit: cover;
      

      .carousel {
        margin: 10px;
        
        
      }
    }

    img {
      height: 100%;
      opacity: 0.9;
      z-index: -1;
    }
  }

  img {
    height: 100px;
  }
}
