@import '../../global.scss';

.container__user__profile{
    background-color: darkgrey;
    display:flex;
    

    .user__profile__page{
        flex: .25;
        margin-top: 70px;
        background-color: #FAE7BF;
        display:flex;
        flex-direction: column;
  

        .pPicture__header__container{
            display:flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;

            background-color: #DC893B;
            width: 100%;
            padding: 10px;

            .pPicture{
                border: 1px solid white;
                margin: 10px;
                border-radius: 10px;
            }
        }

        .user__profile__info{
            height: 100%;
            display:flex;
            flex-direction: column;
            justify-content: center;
      

            .acc__personal__details{
               
                height: 50%;
                padding: 10px;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }

    .user__recipes__page{
        flex: .5;
        background-color: $offWhite;
   
       
    }

    .user__store__page{
        flex: .25;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 100px;
        
    }


}