@import '../../global.scss';


/* PRODUCT CAROUSEL */

.product-wrapper {

    width: 400px; /* affects the card size */
    /* text-align: center; */
    height: 410px;
  
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    background-color: transparent;
    position: relative;

    @include mobile {
  
      width: 90%;
      height: 80%;
    }
  
/*     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 */


    .product__details{
      background-color: whitesmoke;
      position: absolute;
      width:  350px;/* affects the card size */
      /* text-align: center; */
      height:400px;
      display:flex;
      align-items: center;
      justify-content: center;
      
      border-radius: 10px;

     
    
    
      div {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;


        .close__btn{
          align-self: flex-end;
         font-size: 2rem;
          cursor: pointer;
          margin-right: 30px;
          
          
        }
        
        img {
          height: 140px;
          
          background-color: black;
          z-index: 99999;
        }
      

        p {
          width: 80%;
          padding: 15px;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
        }

        button {
          background-color: green;
          color: $offWhite;
          border: none;
          outline: none;
          font-family: "Roboto", sans-serif;
          border-radius: 6px;
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 2.5px;
          padding: 5px 10px;
          width: 150px;
          margin: 10px;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }
      }
  
      &.empy__details{
        display:none;
      }
    }

  

    .product-slides {
   
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        border-radius: 10px;
     
        background-color: whitesmoke;
        
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
       
        

        div {
            
            scroll-snap-align: start;
            flex-shrink: 0;
            width:100%;
            height: 400px;
            /* margin-right: 50px; */
            border-radius: 10px;
            background-color: whitesmoke;
            transform-origin: center center;
            transform: scale(1);
            transition: transform 500ms;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            cursor: pointer;
       
           

            @include mobile{
                height: 100%;
                font-size: 1rem;
                margin: 10px;
            
            }

            img {
              text-align: center;
                width: 100%;
                height: 60%;
                padding: 20px;
               
                
            }

            button {
              background-color: green;
              color: $offWhite;
              display: flex;
              align-items: center;
              justify-content: space-around;
      
              border: none;
              outline: none;
              font-family: "Roboto", sans-serif;
              border-radius: 6px;
              font-size: 1rem;
              font-weight: 600;
              letter-spacing: 2.5px;
              padding: 10px 10px;
              width: 100px;
      
              margin: 10px;
              box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
              cursor: pointer;
            }
          }
    }
    .product-slides::-webkit-scrollbar {
        width: 10px;
        height: 10px;
       
        
        
      }
    .product-slides::-webkit-scrollbar-thumb {
        background:  $buttonColor;
        border-radius: 10px;
       
      }
    .product-slides::-webkit-scrollbar-track {
        background: black;
        border-radius: 0 0 10px 10px;

      }


}