@import '../../global.scss';

.container-user-logs{
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
    background-image: url('../../images/honey__opacity.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    
    
   .user-card{
    background-color: #FAE7BF;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    position:relative;
    display: flex;
    flex-direction: column;
  
    @include mobile {
        width: 100%;
       
         margin: 20px;
         background-color: transparent;
     }
    
 

    .user-header{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #DC893B;
        border-radius: 10px 10px 0 0;

        h3{
            font-size: 1.3em;
            
        }

        @include mobile {
            background-color: #dc893b4e;
            border-radius: 10px;
            font-size: 1rem;
            padding: 15px;
            text-align: center;
         }
    }

    .user-info{
        display:flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        @include mobile {
            display:flex;
            align-items: center;
         
            
     
         }




     
        

        form{
            display:flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;
            gap: 10px;
            position: relative;
           

            .msg__error{
                display:flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                background-color: #121212;
                padding: 20px 15px;
                border-radius: 10px;

                position: absolute;
                color: whitesmoke;
                transition: position 3s ease;
               
                .close__error{
                    background-color: blue;
                }
              

            }

            input{
                border: .9px solid darkgray;
                outline: none;
                width: 330px;
                padding: 14px 16px;
                font-size: 17px;
                border-radius: 10px;
                @include mobile {
                    width: 100%;
                    font-size: 1rem;
                 }
               


            }
            
            button {
                background-color: $buttonColor;
                color: $offWhite;
                border: none;
                border-radius: 6px;
                font-size: 20px;
               
                padding: 14px 16px;
                width: 330px;
                @include mobile {
                    width: 200px;
                    padding: 10px 2px;
                    font-size: 1rem;
                 }
            }
        }
    }

    
    
    }
}