@import '../../global.scss';

.container-user-logs{
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* transition: all 2s ease; */
    background-color: red;
    
   .user-card{
    background-color: #FAE7BF;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    position:relative;
    display: flex;
    flex-direction: column;


    .user-header{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #DC893B;
        border-radius: 10px 10px 0 0;

        h3{
            font-size: 1.3em;
            
        }
    }

    .user-info{
        display:flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        form{
            display:flex;
            flex-direction: column;
            gap: 10px;

            input{
                border: .9px solid darkgray;
                outline: none;
                width: 330px;
                padding: 14px 16px;
                font-size: 17px;
                border-radius: 10px;
            }
            button {
                background-color: $buttonColor;
                color: $offWhite;
                border: none;
                border-radius: 6px;
                font-size: 20px;
               
                padding: 14px 16px;
                width: 330px;
            }
        }
    }

    
    
    }
}