@import './global.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

.app{
    height: 100vh;

    .screen__size{
        display:none;
    }
    
    .app__sections{
        width: 100%;
        height: calc(100vh - 70px) ;
       /*  height: 100vh; */
       /*  margin-top: 70px; */
        background-color: $offWhite;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //firefox
        &::-webkit-scrollbar{
            display: none;
        }

         > * {
             width: 100vw;
             height: calc(100vh - 70px);
             scroll-snap-align: start;
         }
    }


    @include min__width {
        background-image: url('./images/honey__opacity.png');
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        .app__sections{
            display: none;
        }
        .screen__size{
            display:block;
           

            position: absolute;
            top: 25%;
            width: 100%;
            
        }
    }
}