$mainColor: #170b2e;
$buttonColor: #992409;
$offWhite: #F9F5F2;
$offYellow: #FAE7BF;

$width: 780px;

$ipad_width: 781px;



$med__width: 820px;
$max__width: 1100px;

$min__width: 279px;


$small_screen: 280px;


@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;600;700&display=swap');



@mixin mobile {
    @media (max-width: #{$width}) and (min-width: #{$small_screen}){
        @content
    }
};
/* @mixin mobile {
    @media (min-width: #{$small_screen}){
        @content
    }
}; */



@mixin ipad {
    @media (max-width: #{$med__width}) and (min-width: #{$ipad_width}){
        @content
    }
};
/* @mixin ipad {
    @media (min-width: #{$ipad_width}){
        @content
    }
};

 */


@mixin min__width {
    @media (max-width: #{$min__width}){
        @content
    }
};

@mixin small_screen {
    @media (max-width: #{$small_screen}){
        @content
    }
};




