$mainColor: #170b2e;
$buttonColor: #992409;
$offWhite: #F9F5F2;
$offYellow: #FAE7BF;

$width: 780px;

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;600;700&display=swap');

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
};


